createdb
deploy
*.zip
*.log
newVersion
package
sbt
project
target
*.sql
!src/test/resources/sampledb/**/*.sql
*.~
*.fak
*.fgk
*.lock
togit
.ensime*
testdbs
mksnap/prime
mksnap/stage
mksnap/parts
mksnap/snap
mksnap/*
!mksnap/**/snapcraft.mod
!mksnap/**/*.sh
jre11
wget-log*
global.config
connections (copy).config
build (copy).sbt
mkmacosx/jre11.tar.gz
mkmacosx/._jdk*
/.idea/codeStyles/codeStyleConfig.xml
/.idea/libraries/sbt__com_h2database_h2_1_4_200_jar.xml
/.idea/libraries/sbt__com_typesafe_akka_akka_actor_2_13_2_6_21_jar.xml
/.idea/libraries/sbt__com_typesafe_config_1_4_2_jar.xml
/.idea/libraries/sbt__io_spray_spray_json_2_13_1_3_6_jar.xml
/.idea/libraries/sbt__org_openjfx_javafx_base_15_jar.xml
/.idea/libraries/sbt__org_openjfx_javafx_base_15_linux_jar.xml
/.idea/libraries/sbt__org_openjfx_javafx_controls_15_linux_jar.xml
/.idea/libraries/sbt__org_openjfx_javafx_graphics_15_jar.xml
/.idea/libraries/sbt__org_openjfx_javafx_graphics_15_linux_jar.xml
/.idea/libraries/sbt__org_openjfx_javafx_media_15_linux_jar.xml
/.idea/libraries/sbt__org_scala_lang_modules_scala_java8_compat_2_13_1_0_0_jar.xml
/.idea/libraries/sbt__org_scala_lang_modules_scala_xml_2_13_2_1_0_jar.xml
/.idea/libraries/sbt__org_scala_lang_scala_library_2_12_18_jar.xml
/.idea/libraries/sbt__org_scala_lang_scala_library_2_13_11_jar.xml
/.idea/libraries/sbt__org_scala_lang_scala_reflect_2_13_11_jar.xml
/.idea/libraries/sbt__org_scalactic_scalactic_2_13_3_2_15_jar.xml
/.idea/libraries/sbt__org_scalafx_scalafx_2_13_15_0_1_R21_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_2_13_3_2_15_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_compatible_3_2_15_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_core_2_13_3_2_15_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_diagrams_2_13_3_2_15_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_featurespec_2_13_3_2_15_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_flatspec_2_13_3_2_15_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_freespec_2_13_3_2_15_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_funspec_2_13_3_2_15_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_funsuite_2_13_3_2_15_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_matchers_core_2_13_3_2_15_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_mustmatchers_2_13_3_2_15_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_propspec_2_13_3_2_15_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_refspec_2_13_3_2_15_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_shouldmatchers_2_13_3_2_15_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_wordspec_2_13_3_2_15_jar.xml
/.idea/modules/dbtarzan-build.iml
/.idea/modules/dbtarzan-sources.iml
/.idea/modules/linux.iml
/.idea/modules/prjmac.dbtarzan.iml
/.idea/.gitignore
/.idea/dbtarzan.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/sbt.xml
/.idea/scala_compiler.xml
/.idea/scala_settings.xml
/.idea/vcs.xml
