firstdb
createdb
deploy
*.zip
*.log
newVersion
package
sbt
target
project
target
*.sql
*.~
*.fgk
togit
db
!src/db
!test/db
sqllite
.ensime*
mksnap/prime
mksnap/stage
mksnap/parts
mksnap/snap
mksnap
!mksnap/snapcraft.yaml