createdb
deploy
*.zip
*.log
newVersion
package
sbt
project
target
*.sql
!src/test/resources/sampledb/**/*.sql
*.~
*.fak
*.fgk
*.lock
togit
.ensime*
testdbs
mksnap/prime
mksnap/stage
mksnap/parts
mksnap/snap
mksnap/*
!mksnap/**/snapcraft.mod
!mksnap/**/*.sh
jre11
wget-log*
global.config
connections (copy).config
build (copy).sbt
macosx/jre11.tar.gz
macosx/._jdk*