[
  {
    "compositeId": {
      "compositeName": "chinookNorthwind"
    },
    "databaseIds": [
      {
        "databaseName": "chinook"
      },
      {
        "databaseName": "Northwind"
      }
    ],
    "showAlsoIndividualDatabases": false
  },
  {
    "compositeId": {
      "compositeName": "chinooktours"
    },
    "databaseIds": [
      {
        "databaseName": "chinook"
      },
      {
        "databaseName": "toursdb"
      }
    ],
    "showAlsoIndividualDatabases": true
  },
  {
    "compositeId": {
      "compositeName": "northwindtoursdb"
    },
    "databaseIds": [
      {
        "databaseName": "Northwind"
      },
      {
        "databaseName": "toursdb"
      }
    ],
    "showAlsoIndividualDatabases": false
  }
]