[
  {
    "compositeId": {
      "compositeName": "chinookNorthwind"
    },
    "databaseIds": [
      {
        "databaseName": "chinook"
      },
      {
        "databaseName": "Northwind"
      }
    ]
  },
  {
    "compositeId": {
      "compositeName": "chinooktours"
    },
    "databaseIds": [
      {
        "databaseName": "chinook"
      },
      {
        "databaseName": "toursdb"
      }
    ]
  }
]