[{
  "name": "chinook",
  "url": "jdbc:sqlite:/home/andrea/prj/dbtarzan/testdbs/sqllite/Chinook_Sqlite.sqlite",
  "passwordEncrypted": true,
  "driver": "org.sqlite.JDBC",
  "identifierDelimiters": {
    "start": "[",
    "end": "]"
  },
  "maxRows": 303,
  "jar": "/home/andrea/prj/dbtarzan/testdbs/sqllite/sqlite-jdbc-3.8.11.2.jar",
  "user": "",
  "password": "4CFDF3E7268ACE16DFB58F94290981D9"
}, {
  "name": "chinook1",
  "url": "jdbc:sqlite:/home/andrea/prj/dbtarzan/sqllite/Chinook_Sqlite.sqlite",
  "passwordEncrypted": true,
  "driver": "org.sqlite.JDBC",
  "identifierDelimiters": {
    "start": "[",
    "end": "]"
  },
  "maxRows": 303,
  "jar": "/home/andrea/prj/dbtarzan/sqllite/sqlite-jdbc-3.8.11.2.jar",
  "user": "",
  "password": "8E5DE65F193C102BE27E9B62AA10FACA"
}, {
  "name": "classicmodels",
  "url": "jdbc:mysql://192.111.22.4/classicmodels",
  "passwordEncrypted": true,
  "driver": "com.mysql.jdbc.Driver",
  "jar": "mysql-connector-java-5.1.35-bin.jar",
  "user": "root",
  "password": "42DA5D79FE36D430E30C23E95D331C64"
}, {
  "name": "pippo",
  "url": "jdbc:oracle:thin:test/malagodi@Haf66-ora-02:1521:TST",
  "passwordEncrypted": true,
  "schema": "TESTz",
  "driver": "oracle.jdbc.OracleDriver",
  "identifierDelimiters": {
    "start": "\"",
    "end": "\""
  },
  "jar": "ojdbc6.jar",
  "user": "test",
  "password": "45F24F2564048C24B57469A46D3E8F60"
}, {
  "name": "postgresql",
  "catalog": "WEBPLAZA",
  "url": "jdbc:postgresql:webplaza",
  "passwordEncrypted": true,
  "schema": "WEBPLAZA",
  "driver": "org.postgresql.Driver",
  "identifierDelimiters": {
    "start": "\"",
    "end": "\""
  },
  "jar": "/home/andrea/prj/dbtarzan/testdbs/postgresql-9.4.1212.jar",
  "user": "postgres",
  "password": "9717CB0D207382939BE3918647BFCB37"
}, {
  "name": "testoracle",
  "url": "jdbc:oracle:thin:test/malagodi@Haf66-ora-02:1521:TST",
  "passwordEncrypted": true,
  "schema": "adasdasd",
  "driver": "oracle.jdbc.OracleDriver",
  "maxRows": 2000,
  "jar": "ojdbc6.jar",
  "user": "test",
  "password": "381F3C0AE66CCAA271AC9CD96B55621E"
}, {
  "name": "testsqlserver",
  "url": "jdbc:sqlserver://196.112.22.4\\sqlexpress;user=sa;password=e=systempsw;databaseName=testdatabase",
  "passwordEncrypted": true,
  "schema": "dbo",
  "driver": "com.microsoft.sqlserver.jdbc.SQLServerDriver",
  "jar": "sqljdbc41.jar",
  "user": "sa",
  "password": "F86ACFCC49B3F2B05BBF960B51637682"
}, {
  "name": "toursdb",
  "url": "jdbc:derby:firstdb",
  "passwordEncrypted": true,
  "driver": "org.apache.derby.jdbc.EmbeddedDriver",
  "identifierDelimiters": {
    "start": "[",
    "end": "]"
  },
  "jar": "./derby-10.11.1.1.jar",
  "user": "",
  "password": "4CFDF3E7268ACE16DFB58F94290981D9"
}]