[
  {
    "jar": "/home/andrea/prj/dbtarzan/testdbs/sqllite/sqlite-jdbc-3.43.0.0.jar",
    "name": "Northwind",
    "driver": "org.sqlite.JDBC",
    "url": "jdbc:sqlite:/home/andrea/prj/dbtarzan/testdbs/northwind.db",
    "schema": null,
    "user": "",
    "password": "B12F203573EBCF00F9CD0F18E0F3D2E1",
    "instances": null,
    "identifierDelimiters": {
      "start": "[",
      "end": "]"
    },
    "maxRows": null,
    "queryTimeoutInSeconds": null,
    "maxFieldSize": null,
    "maxInClauseCount": 1000,
    "catalog": null
  },
  {
    "jar": "/home/andrea/prj/dbtarzan/testdbs/sqllite/sqlite-jdbc-3.8.11.2.jar",
    "name": "chinook",
    "driver": "org.sqlite.JDBC",
    "url": "jdbc:sqlite:/home/andrea/prj/dbtarzan/testdbs/sqllite/Chinook_Sqlite.sqlite",
    "schema": null,
    "user": "",
    "password": "B12F203573EBCF00F9CD0F18E0F3D2E1",
    "instances": null,
    "identifierDelimiters": {
      "start": "[",
      "end": "]"
    },
    "maxRows": null,
    "queryTimeoutInSeconds": null,
    "maxFieldSize": {
      "value": 300,
      "leftSQLFunction": null
    },
    "maxInClauseCount": 1000,
    "catalog": null
  },
  {
    "jar": "/home/andrea/prj/dbtarzan/testdbs/mariadb-java-client-2.7.2.jar",
    "name": "employees",
    "driver": "org.mariadb.jdbc.Driver",
    "url": "jdbc:mysql://localhost/employees",
    "schema": null,
    "user": "root",
    "password": "7214650E31D723B315275ACEECAB3E41",
    "instances": null,
    "identifierDelimiters": null,
    "maxRows": null,
    "queryTimeoutInSeconds": null,
    "maxFieldSize": {
      "value": 500,
      "leftSQLFunction": null
    },
    "maxInClauseCount": null,
    "catalog": null
  },
  {
    "jar": "/home/andrea/prj/dbtarzan/testdbs/mariadb-java-client-2.7.2.jar",
    "name": "longstrings",
    "driver": "org.mariadb.jdbc.Driver",
    "url": "jdbc:mysql://localhost/longstrings",
    "schema": null,
    "user": "root",
    "password": "29F53ADC094AA973A4250A68B7403984AE04438FD04C69FDD086F838725DA06D",
    "instances": null,
    "identifierDelimiters": null,
    "maxRows": null,
    "queryTimeoutInSeconds": null,
    "maxFieldSize": {
      "value": 500,
      "leftSQLFunction": null
    },
    "maxInClauseCount": null,
    "catalog": null
  },
  {
    "jar": "ojdbc6.jar",
    "name": "oracle",
    "driver": "oracle.jdbc.OracleDriver",
    "url": "jdbc:oracle:thin:test/malagodi@Haf66-ora-02:1521:TST",
    "schema": "TESTz",
    "user": "test",
    "password": "E22B82018CCBE7AA49617782E5D4D138",
    "instances": null,
    "identifierDelimiters": {
      "start": "\"",
      "end": "\""
    },
    "maxRows": null,
    "queryTimeoutInSeconds": null,
    "maxFieldSize": null,
    "maxInClauseCount": null,
    "catalog": null
  },
  {
    "jar": "/home/andrea/prj/dbtarzan/testdbs/postgresql-9.4.1212.jar",
    "name": "postgresql",
    "driver": "org.postgresql.Driver",
    "url": "jdbc:postgresql:webplaza",
    "schema": "WEBPLAZA",
    "user": "postgres",
    "password": "F29110B3E7F73776E1628BEA96856EE2",
    "instances": null,
    "identifierDelimiters": {
      "start": "\"",
      "end": "\""
    },
    "maxRows": null,
    "queryTimeoutInSeconds": null,
    "maxFieldSize": null,
    "maxInClauseCount": null,
    "catalog": "WEBPLAZA"
  },
  {
    "jar": "/home/andrea/prj/dbtarzan/testdbs/postgresql-9.4.1212.jar",
    "name": "postgresql_catalog",
    "driver": "org.postgresql.Driver",
    "url": "jdbc:postgresql:webplaza",
    "schema": "public",
    "user": "postgres",
    "password": "F29110B3E7F73776E1628BEA96856EE2",
    "instances": null,
    "identifierDelimiters": {
      "start": "\"",
      "end": "\""
    },
    "maxRows": null,
    "queryTimeoutInSeconds": null,
    "maxFieldSize": null,
    "maxInClauseCount": null,
    "catalog": "WEBPLAZA"
  },
  {
    "jar": "/home/andrea/prj/dbtarzan/testdbs/mariadb-java-client-2.7.2.jar",
    "name": "sakila",
    "driver": "org.mariadb.jdbc.Driver",
    "url": "jdbc:mysql://localhost/sakila",
    "schema": null,
    "user": "root",
    "password": "B12F203573EBCF00F9CD0F18E0F3D2E1",
    "instances": null,
    "identifierDelimiters": null,
    "maxRows": null,
    "queryTimeoutInSeconds": null,
    "maxFieldSize": {
      "value": 500,
      "leftSQLFunction": null
    },
    "maxInClauseCount": null,
    "catalog": null
  },
  {
    "jar": "ojdbc6.jar",
    "name": "testoracle",
    "driver": "oracle.jdbc.OracleDriver",
    "url": "jdbc:oracle:thin:test/malagodi@Haf66-ora-02:1521:TST",
    "schema": "adasdasd",
    "user": "test",
    "password": "529D44AD3E5C2BDF9FEA85129A1D6384",
    "instances": null,
    "identifierDelimiters": null,
    "maxRows": 2000,
    "queryTimeoutInSeconds": null,
    "maxFieldSize": {
      "value": 1000,
      "leftSQLFunction": null
    },
    "maxInClauseCount": null,
    "catalog": null
  },
  {
    "jar": "sqljdbc41.jar",
    "name": "testsqlserver",
    "driver": "com.microsoft.sqlserver.jdbc.SQLServerDriver",
    "url": "jdbc:sqlserver://196.112.22.4\\sqlexpress;user=sa;password=e=systempsw;databaseName=testdatabase",
    "schema": "dbo",
    "user": "sa",
    "password": "A414194570AC1AB360D723797A5C7B71",
    "instances": null,
    "identifierDelimiters": null,
    "maxRows": null,
    "queryTimeoutInSeconds": 1,
    "maxFieldSize": null,
    "maxInClauseCount": null,
    "catalog": null
  },
  {
    "jar": "/home/andrea/prj/dbtarzan/testdbs/derby.jar",
    "name": "toursdb",
    "driver": "org.apache.derby.jdbc.EmbeddedDriver",
    "url": "jdbc:derby:/home/andrea/prj/dbtarzan/testdbs/firstdb",
    "schema": null,
    "user": "",
    "password": "B12F203573EBCF00F9CD0F18E0F3D2E1",
    "instances": null,
    "identifierDelimiters": null,
    "maxRows": null,
    "queryTimeoutInSeconds": null,
    "maxFieldSize": null,
    "maxInClauseCount": null,
    "catalog": null
  }
]