[{
  "jar": "...",
  "name": "oracle",
  "url": "jdbc://oracle",
  "driver": "DriverOracle",
  "user": "giovanni",
  "password": "malagodi"
}, {
  "jar": "...",
  "name": "mysql",
  "url": "jdbc://mysql",
  "driver": "DriverMysql",
  "user": "arturo",
  "password": "fedele"
}, {
  "jar": "./derby-10.11.1.1.jar",
  "name": "derby",
  "url": "jdbc:derby:firstdb",
  "driver": "org.apache.derby.jdbc.EmbeddedDriver",
  "user": "",
  "password": ""
}]


